body{
    text-align: center;
    background-color: #00704A;
    color: #ffffff;
    letter-spacing: 2px;
}
.border{
    margin: 0px 400px 0px 400px;
    border: #27251F solid;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: medium;
}
.pics{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
}
input{
    width: 75px;
}
.space{
    margin: 10px 0px 0px 0px;
}